---
import Layout from "../layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
import ExperienceCard from "@/components/ExperienceCard.astro";
import line from "@/assets/vectors/line.svg?raw";
import curve from "@/assets/vectors/curve.svg?raw";
---

<Layout title="Experience" theme="amber" blobType="diamond-medium-alternates">
  <PageTitle text="Experience" />

  <!-- Spacer element to force <main> to stretch -->
  <div class="h-294 w-full"></div>

  <!-- Left side -->
  <div class="absolute top-0 left-1/5 w-0">
    <!-- Top vertical line -->
    <div
      class="w-px"
      aria-hidden="true"
      style={`color: var(--theme-darkest)`}
      set:html={line}
    />
    <!-- Bottom vertical line -->
    <div
      class="w-px"
      aria-hidden="true"
      style={`color: var(--theme-darkest)`}
      set:html={line}
    />

    <!-- First Content -->
    <div class="relative flex w-[60vw] flex-row">
      <!-- Curve -->
      <div
        class="self-start"
        aria-hidden="true"
        style={`color: var(--theme-darkest)`}
        set:html={curve}
      />
      <!-- Content containers -->
      <ol
        class="flex list-none w-[calc(100%-160px)] -translate-y-[calc(50%-79px)] flex-row items-center gap-x-16 p-0"
      >
        <div
          class="absolute top-1/2 left-0 -z-10 w-full border-t border-(--theme-darkest)"
          aria-hidden="true"
        >
        </div>
        <ExperienceCard
          role="Panamerican Games Volunteer"
          description="I facilitated effective communication between English-speaking individuals and the teams responsible for organizing the games."
          year="2023"
          contentPosition="top"
          pinDirection="up"
        />
        <ExperienceCard
          role="Academic Assistant"
          description="I provided socio-educational support to first-semester students to offer academic assistance in programming courses."
          year="2024"
          contentPosition="bottom"
          pinDirection="down"
        />
        <ExperienceCard
          role="Technical Support Monitor"
          description="I provided technical support for audiovisual and computer equipment in classrooms and labs at Universidad del Valle"
          year="2024"
          contentPosition="top"
          pinDirection="up"
        />
      </ol>
      <div class="flex translate-y-[79px] flex-col">
        <!-- Curve -->
        <div
          class="rotate-180 self-start"
          aria-hidden="true"
          style={`color: var(--theme-darkest)`}
          set:html={curve}
        />
        <!-- Vertical line -->
        <div
          class="w-px self-end"
          aria-hidden="true"
          style={`color: var(--theme-darkest)`}
          set:html={line}
        />
      </div>
    </div>
  </div>

  <!-- Right side -->
  <div class="absolute top-[calc(492px+404px)] left-4/5 flex flex-col">
    <!-- Initial -->
    <div class="absolute right-0 flex flex-col">
      <!-- Vertical line -->
      <div
        class="w-px self-end"
        aria-hidden="true"
        style={`color: var(--theme-darkest)`}
        set:html={line}
      />
      <!-- Second Content -->
      <!-- h-0 property is there in order to 
       adjust the space occupied by content containers
       since translate does not move the original layout 
       space behind -->
      <div class="relative flex h-0 w-[60vw] flex-row-reverse">
        <!-- Curve -->
        <div
          class="rotate-270 self-start"
          aria-hidden="true"
          style={`color: var(--theme-darkest)`}
          set:html={curve}
        />

        <!-- Content containers -->
        <ol
          class="flex list-none w-[calc(100%-160px)] -translate-y-[calc(50%-79px)] flex-row-reverse items-center gap-x-16 p-0"
        >
          <div
            class="absolute top-1/2 left-0 -z-10 w-full border-t border-(--theme-darkest)"
            aria-hidden="true"
          >
          </div>
          <ExperienceCard
            role="Software Developer Intern"
            description="I built an interactive web application for dynamic visualization of key indicators, and support ETL processes that gathered data"
            year="2025"
            contentPosition="top"
            pinDirection="up"
          />
          <ExperienceCard
            role="Implementation Consultant"
            description="I led the onboarding lifecycle through timelines, effective customer transitions toward optimal product adoption."
            year="2025"
            yearLabel="Today"
            contentPosition="bottom"
            pinDirection="down"
          />
          <li class="relative flex h-140 flex-1 flex-col items-center" aria-hidden="true"></li>
        </ol>

        <!-- Left side -->
        <div class="absolute top-0 left-0 flex translate-y-[79px] flex-col">
          <!-- Curve -->
          <div
            class="rotate-90 self-start"
            aria-hidden="true"
            style={`color: var(--theme-darkest)`}
            set:html={curve}
          />
          <!-- Vertical line -->
          <div
            aria-hidden="true"
            style={`color: var(--theme-darkest)`}
            set:html={line}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>