---
import Layout from "@/layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
import TechIcon from "@/components/TechIcon.astro";
import { Image } from "astro:assets";
import { siPython, siJavascript, siReact } from "simple-icons";
import meImg from "@/assets/images/me/me.jpg";
import ciatImg from "@/assets/images/career/CIAT.jpg";
---

<Layout title="Home" theme="green" blobType="rounded-star">
  <PageTitle text="Hi! I'm Sebastián Idrobo" />

  <section
    class="flex w-full flex-col gap-8 md:flex-row md:gap-12 lg:gap-16 xl:gap-32"
  >
    <div
      class="flex max-w-2xl flex-2 flex-col items-start justify-center gap-4"
    >
      <p>
        I'm a passionate Software Engineer who enjoys solving problems and
        taking on challenges that push me to learn more, allowing me to build
        applications with a real impact. I naturally look for ways to refine the
        workflows and code I work with, as I'm always aiming to deliver the most
        efficient and high-quality results possible. I'm currently interested
        in:
      </p>
      <ul class="list-inside list-disc">
        <li>DevOps engineer</li>
        <li>Full stack development</li>
        <li>Data Science</li>
      </ul>
    </div>

    <div class="flex flex-1 justify-center">
      <Image
        src={meImg}
        alt="Sebastián Idrobo portrait"
        class="my-auto w-full max-w-108 rounded-4xl object-contain md:w-auto md:max-w-full md:min-w-64 lg:min-w-80 xl:min-w-96"
      />
    </div>
  </section>

  <section class="mt-16">
    <h2 class="mb-8 text-center text-4xl font-semibold">About me</h2>
    <div
      class="mb-12 flex w-full flex-col gap-8 md:mb-24 md:flex-row md:gap-12 lg:gap-16 xl:gap-32"
    >
      <div class="flex flex-1 justify-center">
        <Image
          src={ciatImg}
          alt="CIAT workplace"
          class="my-auto w-full max-w-108 rounded-4xl object-contain md:w-auto md:max-w-full md:min-w-64 lg:min-w-80 xl:min-w-96"
        />
      </div>

      <div
        class="flex max-w-2xl flex-2 flex-col items-start justify-center gap-4"
      >
        <p>
          I started my career at Universidad del Valle in 2021, where I built a
          strong foundation in Software Engineering across multiple fields such
          as Software Development, Data Science, and Computer Engineering. I
          have worked in research settings alongside researchers to build
          applications and maintain data pipelines, as well as in fast-paced
          environments like startups, providing technical support and
          collaborating across multiple teams for clients' implementations.
        </p>

        <p>
          During this time, I held several part-time roles that helped me gain
          hard skills like programming languages, frameworks, and technical
          troubleshooting. These experiences also allowed me to build important
          soft skills such as communication, time management, adaptability, and
          curiosity.
        </p>

        <p>
          Throughout my career, I've had the opportunity to learn and adapt in
          diverse environments. I have worked in research settings alongside
          researchers to build applications and maintain data pipelines, as well
          as in fast-paced environments like startups, providing technical
          support and collaborating across multiple teams for clients'
          implementations.
        </p>
      </div>
    </div>
  </section>

  <section class="flex w-full flex-row items-center justify-between md:w-7/10">
    <TechIcon svg={siPython.svg} ariaLabel="Python" />
    <TechIcon svg={siJavascript.svg} ariaLabel="JavaScript" />
    <TechIcon svg={siReact.svg} ariaLabel="React" />
  </section>
</Layout>
