---
import type { BlobType } from "@/types";

interface Props {
  type: BlobType;
}

const { type } = Astro.props;

import roundedStar from "@/assets/vectors/rounded-star.svg";
import circlePentagon from "@/assets/vectors/circle-pentagon.svg";
import diamondMediumAlternates from "@/assets/vectors/diamond-medium-alternates.svg";

const blobSvg = {
  "rounded-star": roundedStar,
  "circle-pentagon": circlePentagon,
  "diamond-medium-alternates": diamondMediumAlternates,
};

const sizeClass = "h-64 w-64";
const maskStyle = `-webkit-mask-image: url('${blobSvg[type]}'); mask-image: url('${blobSvg[type]}'); -webkit-mask-size: contain; mask-size: contain; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center;`;
---

<div
  transition:name="page-blobs"
  class="pointer-events-none absolute inset-0 z-0 overflow-hidden"
>
  <div
    class={`pointer-events-auto absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 cursor-pointer transition-transform duration-300 active:scale-95 ${sizeClass}`}
  >
    <div
      style={maskStyle}
      class="h-full w-full animate-[spin_20s_linear_infinite] bg-(--theme-default)"
    >
    </div>
  </div>

  <div
    class={`pointer-events-auto absolute top-1/2 left-0 -translate-x-1/2 -translate-y-1/2 cursor-pointer transition-transform duration-300 active:scale-95 ${sizeClass}`}
  >
    <div
      style={maskStyle}
      class="h-full w-full animate-[spin_25s_linear_infinite_reverse] bg-(--theme-default)"
    >
    </div>
  </div>

  <div
    class={`pointer-events-auto absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2 cursor-pointer transition-transform duration-300 active:scale-95 ${sizeClass}`}
  >
    <div
      style={maskStyle}
      class="h-full w-full animate-[spin_22s_linear_infinite] bg-(--theme-default)"
    >
    </div>
  </div>
</div>
