---
import type { CardPosition } from "@/types";
import pinSvg from "@/assets/vectors/pin.svg?raw";

interface Props {
  title: string;
  description: string;
  date: string;
  positionSm: CardPosition;
  positionMd: CardPosition;
  positionXl: CardPosition;
  orderSm: number;
  orderMd: number;
  orderXl: number;
}

const {
  title,
  description,
  date,
  positionSm,
  positionMd,
  positionXl,
  orderSm,
  orderMd,
  orderXl,
} = Astro.props;

const isTopSm = positionSm === "top";
const isTopMd = positionMd === "top";
const isTopXl = positionXl === "top";

const topVis = `${isTopSm ? "flex" : "hidden"} ${isTopMd ? "md:flex" : "md:hidden"} ${isTopXl ? "2xl:flex" : "2xl:hidden"}`;
const bottomVis = `${!isTopSm ? "flex" : "hidden"} ${!isTopMd ? "md:flex" : "md:hidden"} ${!isTopXl ? "2xl:flex" : "2xl:hidden"}`;
---

<li
  class="experience-card relative flex h-80 min-w-42 flex-1 flex-col items-center md:h-140"
  style={`--order-sm: ${orderSm}; --order-md: ${orderMd}; --order-xl: ${orderXl};`}
>
  <div
    class="absolute top-full left-0 -z-10 w-full border-t border-(--theme-darkest) md:top-1/2"
    aria-hidden="true"
  >
  </div>

  {/* Top Layout */}
  <div class={`${topVis} max-w-80 h-full flex-1 flex-col`}>
    <h2 class="flex-1 md:flex-none flex items-end justify-center mb-4 overflow-auto text-center text-xl font-bold">
      {title}
    </h2>
    <p
      class="mb-4 max-h-none overflow-scroll text-sm md:max-h-30 md:text-base lg:h-28"
    >
      {description}
    </p>
    <time
      class="flex md:flex-1 items-end justify-center text-center text-lg font-bold"
      datetime={date}
    >
      {date}
    </time>

    <div
      class="flex translate-y-3/12 items-center justify-center"
      style="color: var(--theme-darkest)"
      set:html={pinSvg}
    />
  </div>

  {/* Fill missing space */}
  <div class="hidden w-full flex-1 md:block"></div>

  {/* Bottom Layout */}
  <div class={`${bottomVis} max-w-80 h-full flex-1 flex-col`}>
    <div
      class="flex -translate-y-3/12 rotate-180 items-center justify-center"
      style="color: var(--theme-darkest)"
      set:html={pinSvg}
    />

    <h2 class="mb-4 overflow-auto text-center text-xl font-bold">
      {title}
    </h2>
    <p class="mb-4 max-h-30 overflow-scroll text-sm md:text-base lg:h-28">
      {description}
    </p>
    <time
      class="flex items-center justify-center text-center text-lg font-bold"
      datetime={date}
    >
      {date}
    </time>
  </div>
</li>

<style>
  .experience-card {
    order: var(--order-sm);
  }

  @media (min-width: 768px) {
    .experience-card {
      order: var(--order-md);
    }
  }

  @media (min-width: 1536px) {
    .experience-card {
      order: var(--order-xl);
    }
  }
</style>
