---
import type { CardPosition } from "@/types";
import pinSvg from "@/assets/vectors/pin.svg?raw";

interface Props {
  title: string;
  description: string;
  date: string;
  positionSm: CardPosition;
  positionMd: CardPosition;
  positionXl: CardPosition;
  orderSm: number;
  orderMd: number;
  orderXl: number;
}

const {
  title,
  description,
  date,
  positionSm,
  positionMd,
  positionXl,
  orderSm,
  orderMd,
  orderXl,
} = Astro.props;

const isTopSm = positionSm === "top";
const isTopMd = positionMd === "top";
const isTopXl = positionXl === "top";

const topVis = `${isTopSm ? "flex" : "hidden"} ${isTopMd ? "md:flex" : "md:hidden"} ${isTopXl ? "2xl:flex" : "2xl:hidden"}`;
const bottomVis = `${!isTopSm ? "flex" : "hidden"} ${!isTopMd ? "md:flex" : "md:hidden"} ${!isTopXl ? "2xl:flex" : "2xl:hidden"}`;
---

<li
  class="experience-card relative mb-28 flex h-70 flex-1 flex-col items-center md:mb-0 md:h-140"
  style={`--order-sm: ${orderSm}; --order-md: ${orderMd}; --order-xl: ${orderXl};`}
>
  <div
    class="absolute top-full left-0 -z-10 w-full border-t border-(--theme-darkest) md:top-1/2"
    aria-hidden="true"
  >
  </div>

  {/* Top Layout */}
  <div class={`${topVis} mb-20 flex-1 flex-col gap-4`}>
    <h2 class="max-h-18 overflow-auto text-center text-xl font-bold">
      {title}
    </h2>
    <p class="flex h-28 items-center overflow-auto">{description}</p>
    <time
      class="flex flex-1 items-center justify-center text-center text-lg font-bold"
      datetime={date}
    >
      {date}
    </time>
  </div>
  <div
    class={`${topVis} absolute top-[calc(100%-8px)] md:top-[calc(50%-8px)] -translate-y-1/2 items-center justify-center`}
    aria-hidden="true"
  >
    <div style="color: var(--theme-darkest)" set:html={pinSvg} />
  </div>

  {/* Fill missing space */}
  <div class={`flex-1 w-full`}></div>

  {/* Bottom Layout */}
  <div
    class={`${bottomVis} absolute top-[calc(50%+10px)] -translate-y-1/2 rotate-180 items-center justify-center`}
    aria-hidden="true"
  >
    <div style="color: var(--theme-darkest)" set:html={pinSvg} />
  </div>
  <div class={`${bottomVis} mt-20 flex-1 flex-col gap-4`}>
    <h2 class="max-h-18 overflow-auto text-center text-xl font-bold">
      {title}
    </h2>
    <p class="flex h-28 items-center overflow-auto">{description}</p>
    <time
      class="items-top flex flex-1 justify-center text-center text-lg font-bold"
      datetime={date}
    >
      {date}
    </time>
  </div>
</li>

<style>
  .experience-card {
    order: var(--order-sm);
  }

  @media (min-width: 768px) {
    .experience-card {
      order: var(--order-md);
    }
  }

  @media (min-width: 1536px) {
    .experience-card {
      order: var(--order-xl);
    }
  }
</style>
