---
import type { PathType } from "@/types";
import curve from "@/assets/vectors/curve.svg?raw";

interface Props {
  type: PathType;
  orderSm: number;
  orderMd: number;
  orderXl: number;
  hiddenMd?: boolean;
  hiddenXl?: boolean;
}

const {
  type,
  orderSm,
  orderMd,
  orderXl,
  hiddenMd = false,
  hiddenXl = false,
} = Astro.props;

const pathConfigs: Record<
  PathType,
  {
    lineFirst: boolean;
    lineAlign: "left" | "right";
    curveRotation: number;
    hasTranslate: boolean;
  }
> = {
  "top-left": {
    lineFirst: true,
    lineAlign: "left",
    curveRotation: 0,
    hasTranslate: false,
  },
  "bottom-right": {
    lineFirst: false,
    lineAlign: "right",
    curveRotation: 180,
    hasTranslate: true,
  },
  "bottom-left": {
    lineFirst: true,
    lineAlign: "right",
    curveRotation: 270,
    hasTranslate: false,
  },
  "top-right": {
    lineFirst: false,
    lineAlign: "left",
    curveRotation: 90,
    hasTranslate: true,
  },
};

const config = pathConfigs[type];
---

<div
  class:list={[
    "experience-path group flex h-[calc(100%+1px)] flex-col md:h-[calc(50%+1px)]",
    { "translate-y-[calc(100%-1px)]": config.hasTranslate },
    { "md:hidden": hiddenMd },
    { "2xl:hidden": hiddenXl },
  ]}
  style={`--order-sm: ${orderSm}; --order-md: ${orderMd}; --order-xl: ${orderXl};`}
  aria-hidden="true"
>
  {
    config.lineFirst ? (
      <>
        <div
          class="block size-12 group-first-of-type:hidden! md:hidden md:size-20"
          style={`transform: rotate(${config.curveRotation === 0 ? 90 : 180}deg); color: var(--theme-darkest);`}
          set:html={curve}
        />
        <div
          class:list={[
            "min-h-0 flex-1 md:block",
            config.lineAlign === "left" ? "border-l" : "border-r",
            "border-(--theme-darkest)",
          ]}
        />
        <div
          class="size-12 md:size-20"
          style={`transform: rotate(${config.curveRotation}deg); color: var(--theme-darkest);`}
          set:html={curve}
        />
      </>
    ) : (
      <>
        <div
          class="hidden size-12 md:block md:size-20"
          style={`transform: rotate(${config.curveRotation}deg); color: var(--theme-darkest);`}
          set:html={curve}
        />
        <div
          class:list={[
            "hidden min-h-0 flex-1 md:block",
            config.lineAlign === "left" ? "border-l" : "border-r",
            "border-(--theme-darkest)",
          ]}
        />
      </>
    )
  }
</div>

<style>
  .experience-path {
    order: var(--order-sm);
  }

  @media (min-width: 768px) {
    .experience-path {
      order: var(--order-md);
    }
  }

  @media (min-width: 1536px) {
    .experience-path {
      order: var(--order-xl);
    }
  }
</style>
