---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import { ChevronLeft, ChevronRight } from "@lucide/astro";
import BackgroundBlobs from "@/components/BackgroundBlobs.astro";

interface Props {
  title: string;
  theme: "green" | "purple" | "amber";
  blobType: "rounded-star" | "circle-pentagon" | "diamond-medium-alternates";
}

const { title, theme, blobType } = Astro.props;

const themeClasses = {
  green: "bg-green-lightest",
  purple: "bg-purple-lightest",
  amber: "bg-amber-lightest",
};

const iconThemeClasses = {
  green: "text-green-darkest",
  purple: "text-purple-darkest",
  amber: "text-amber-darkest",
};

const navLinks = [
  { label: "Home", path: "/about" },
  { label: "Projects", path: "/projects" },
  { label: "Blog", path: "/blog" },
  { label: "Experience", path: "/experience" },
  { label: "Contact", path: "/contact" },
];

const currentPath = Astro.url.pathname.replace(/\/$/, "") || "/";

const navInactiveClasses = {
  green: "bg-green-default",
  purple: "bg-purple-default",
  amber: "bg-amber-default",
};

const navActiveClasses = {
  green: "bg-green-darkest",
  purple: "bg-purple-darkest",
  amber: "bg-amber-darkest",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Sebastián's Portfolio</title>
    <Font cssVariable="--font-inter" />
    <ClientRouter />
  </head>

  <body
    class={`relative flex flex-col text-black min-h-screen min-w-screen px-40 py-14 justify-center items-center ${themeClasses[theme]}`}
  >
    <BackgroundBlobs type={blobType} theme={theme} />

    <ChevronLeft
      size={92}
      class={`fixed top-1/2 left-16 z-50 -translate-y-1/2 ${iconThemeClasses[theme]}`}
    />

    <!-- Navbar Component inside Layout -->
    <div class="z-10 mt-4 w-full max-w-xl">
      <nav>
        <ul class="flex flex-row justify-center">
          {
            navLinks.map((link) => (
              <li class="flex-1 p-2 text-center text-lg font-medium">
                <a href={link.path} class="block w-full">
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <!-- Bottom Bar -->
      <div class="flex h-1.5 flex-row">
        {
          navLinks.map((link) => {
            const isActive = currentPath === link.path;
            return (
              <div
                class={`flex-1 transition-colors duration-700 ${navInactiveClasses[theme]}`}
              >
                {isActive && (
                  <div
                    transition:name="nav-indicator"
                    class={`h-full w-full ${navActiveClasses[theme]}`}
                  />
                )}
              </div>
            );
          })
        }
      </div>
    </div>

    <main class="flex h-full max-w-7xl flex-1 flex-col items-center px-8 py-10">
      <slot />
    </main>

    <ChevronRight
      size={92}
      class={`fixed top-1/2 right-16 z-50 -translate-y-1/2 ${iconThemeClasses[theme]}`}
    />
  </body>
</html>
